*.pth
*.pt
*.bin
*.safetensors
*.ckpt
*.onnx
*.zip
*.tar.gz
*.venv
venv/
__pycache__/
*.obj
barc_3d_outputs/
triposr_3d_outputs/
side_view_dogs/
curated_subsets_outputs/1_cropped_outputs/
curated_subsets_outputs/2_filtered_outputs/
sideview_pipeline_stages/stage_1_3d_meshes/
sideview_pipeline_stages/stage_2_depth_maps/
sideview_pipeline_stages/stage_3_anatomical_masks/
sideview_pipeline_stages/stage_4_vton_renders/

3d-canine-sizing-vton/

